<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907286769133-m8cajfritv553h0ieal2sg98gc48g37q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907286769133-m8cajfritv553h0ieal2sg98gc48g37q</string>
	<key>API_KEY</key>
	<string>AIzaSyAPpTe-W7Aj9yHI_-75Qbgx3iVaRF-RFFU</string>
	<key>GCM_SENDER_ID</key>
	<string>907286769133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartGalleryFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>smart-gallery-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-gallery-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907286769133:ios:78b0982570ef33b2ab8be4</string>
</dict>
</plist>